<%= form_for(@admission) do |f| %>
  <% if @admission.errors.any? %>
    
	<div id="error_explanation">
      <h2><%= pluralize(@admission.errors.count, "error") %> prohibited this admission from being saved:</h2>

      <ul>
      <% @admission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :admission_number %>
    <%= f.text_field :admission_number %>
  </div>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.text_field :date_of_birth %>
  </div>
   
  <div class="field">
    <%= f.label :religion %>
    <%= f.text_field :religion %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :mobile %>
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
